// Paths
$img: "../i/";
$fonts: "../fonts/";

// Font
$mainFont                : 'Poppins', sans-serif;
$secondFont              : 'Work Sans', sans-serif;
$thirdFont               : 'Dancing Script', cursive;

// Size
$mainFontColor           : #1a1a1a;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$base-blue-color         : #2196F3;
$primary-color           : #2cc0c7;
$success-color           : #46eeaa;
$danger-color            : #fc5c65;
$warning-color           : #cca52b;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #4b4f54;
$neutral-regular         : #979797;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #eaebeb;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

// Transitions
$transition500           : 'all ease-in-out 300ms';

$gutter-width            : 15px;


